<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sunny Jobs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/jobs1.css' %}">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome To SUNNYJOBS</h1>
        <p>Contenious Job Updates For Every Hour....</p>
        <a class="btn btn-primary btn-lg" href="/hydjobs" >Hyderabad Jobs</a>&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="#">Pune Jobs</a>&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-primary btn-lg" href="#">Bangalore Jobs</a>
      </div>
    </div>
  </body>
</html>
