<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/feed1.css' %}">
  </head>
  <body>
    <div class="container" align='center'>
      {% if submitted %}
      <h1>Hello {{name}}, thanks for providing feedback, It is very helpful for us to provide better service</h1>
      {% else %}
    <h1>Student Feedback Form</h1>
    <form method="post">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" name="" value="Submit Feedback">
    </form>
    {% endif %}
    </div>
  </body>
</html>
