<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>
    <div class="container" align='center'>
      <h1>Do you want to really delete book:{{book.title}}???</h1>
      <form method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" name="" class="btn btn-danger" value="Delete Book">
        <a class="btn btn-success" href="/list2">Cancel(Don't Delete)</a>
      </form>
    </div>
  </body>
</html>
